@model IEnumerable<ArModels.Models.ArTransaction>

@{
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    string status = ViewBag.Status;
}

<h2>Transactions</h2>
<p>
    @Html.ActionLink("Back to Home", "Index", "Home", new { area = "" }, null)
</p>
<p>
    @Html.ActionLink("Create New", "Create") 
</p>
<p>
    Filter:
    @if (status == "" || status == null)
    {
        <span>All |</span>
    }
    else
    {
        @Html.ActionLink("All", "Index", new { status = "" })<span> |</span>
    }

    @if (status == "New")
    {
        <span>New |</span>
    }
    else
    {
        @Html.ActionLink("New", "Index", new { status = "New" })<span> |</span>
    }

    @if (status == "Ongoing")
    {
        <span>Ongoing |</span>
    }
    else
    {
        @Html.ActionLink("Ongoing", "Index", new { status = "Ongoing" })<span> |</span>
    }

    @if (status == "Close")
    {
        <span>Closed </span>
    }
    else
    {
        @Html.ActionLink("Closed", "Index", new { status = "Close" })
    }
        

</p>
<table class="table">
    <tr>
        <th>
            Account
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtInvoice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArTransStatu.Status)
        </th>
        <th>
            Category
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            Paid&nbsp;Amount
        </th>
        <th style="min-width:100px;"></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArAccount.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @item.DtService.ToString("MMM dd yyyy")
        </td>
        <td>
            @item.DtInvoice.ToString("MMM dd yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceId)
        </td>
        <td>
            @item.DtDue.ToString("MMM dd yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArTransStatu.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArCategory.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @item.Amount.ToString("#,##0.00")
        </td>
        <td>
            @{ 
                decimal totalPayment = 0;
            }

            @foreach(var payment in item.ArTransPayments)
            {
                totalPayment = totalPayment + payment.ArPayment.Amount;
            }

            <span>
                @totalPayment.ToString("#,##0.00")
            </span>
        </td>
        <td>
            @Html.ActionLink("Add Payment", "CreateTransPayment", "ArPayments", new { transId = item.Id }, null) 
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
